@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Nunito-Regular.woff2") format("woff2"),
       url("../assets/fonts/Nunito-Regular.woff") format("woff"),
       url("../assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Nunito-Bold.woff2") format("woff2"),
       url("../assets/fonts/Nunito-Bold.woff") format("woff"),
       url("../assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-display: swap;
}